#body-section {
  padding: 0;
  width: 100%;
  height: 100%;
}

/************************************************/

#main-page {
  display: grid;
  grid-template-columns: auto 16.12px 15.88px 126px;
  grid-template-rows: 91px 60.57px 50.43px 70px 51px 145px auto;
  height: 100vh;
  width: auto;
  resize: initial;
  background: url("../../assets/img/back.jpg");
}

header {
  display: grid;
  grid-column: 1/4;
  grid-row: 2/3;
  justify-content: end; /*flex-end;*/
  /* margin-top: 12vh; */
  /* margin-right: 9.25vw; */
  /* margin-left: 9.25vw; */
}

#footer {
  position: absolute;
  width: 100%;
  height: 145px;
  top: 100%;
  background: #F6CB58;
  box-shadow: inset 0px 4px 4px rgba(214, 164, 30, 0.25), inset 0px -4px 4px #D6A41E;
}

/************************************************/

#play-section {
  display: grid;
  grid-template-areas: "a b";
  justify-content: flex-end;
  grid-column: 3;
  grid-row: 4/5;
}

#play-section #current-song-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 20.375rem;
  height: 4.375rem;
  background: #F6CB58;
  box-shadow: inset 0px 4px 4px rgba(214, 164, 30, 0.25), inset 0px -4px 4px #D6A41E;
  border-radius: 10px;
}

#play-section input[type=range][orient=vertical] {
  -webkit-appearance: slider-vertical;
  width: 0.375rem;
  height: 4.375rem;
  margin-left: .8125rem;
}

#play-section #current-song-box #playcircle {
  position: relative;
  width: 4.8125rem;
  height: 4.8125rem;
  box-sizing: content-box;
  right: 1.8rem;
  top: 0.4rem;
  background-image: url("../../assets/img/play-circle.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border-color: transparent;
}

#play-section #current-song-box #current-song-name {
  margin: 0;
  padding: 0;
  margin-left: -2rem;
  margin-right: 1.5rem;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #FFFFFF;
  text-size-adjust: 75%;
}

#play-section #current-song-box #headphones-img {
  position: relative;
  right: 1.125rem;
  bottom: 0.125rem;
  width: 2.75rem;
  height: 2.75rem;
}

/************************************************/

#playlist-wrapper {
  display: grid;
  grid-column-end: 3;
  grid-row: 6/7;
}

#playlist {
  display: grid;
  grid-column: 1/4;
  grid-row: 6/7;
  margin-right: 0;
  margin-left: auto;
  width: max-content;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 22.375rem;
  height: max-content;
  background: #F6CB58;
  box-shadow: inset 0px 4px 4px rgba(214, 164, 30, 0.25), inset 0px -4px 4px #D6A41E;
  border-radius: 10px;
}

#playlist #history-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
}

#playlist #song-list {
  width: fit-content;
  height: max-content;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  opacity: 0.75;
  list-style-type: none;
  padding: 0;
}

#playlist #history-header p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #FFFFFF;
  box-sizing: content-box;
  margin-bottom: 0.5rem;
}

#playlist #history-header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#playlist #history-header div #history-button {
  width: 23.44px;
  height: 23.44px;
  opacity: 0.75;
  background: url("../../assets/img/history-button.svg");
}

#playlist #history-header div #history-button:hover {opacity: 1;}

#playlist #history-header div #add-song-button {
  width: 23.44px;
  height: 23.44px;
  opacity: 0.75;
  background: url("../../assets/img/add-song-button.svg");
  background-color: transparent;
  border-color: transparent;
}

#playlist #history-header div #add-song-button:hover {opacity: 1;}

#playlist #song-list li a {
  color: #fff;
  text-decoration: none;
}

#playlist #song-list li a:hover {
  text-decoration: underline;
  color: #909090;
}

/************************************************/

#footer-img {
  padding-top: 1.375rem;
  padding-left: 40%;
  padding-right: 40%;
}

#footer-link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-top: 1.28125rem;
  margin-bottom: 1.375rem;
}

.footer-basic {
  background-color: #ffffff;
  color: #4b4c4d;
  background: #F6CB58;
  box-shadow: inset 0px 4px 4px rgba(214, 164, 30, 0.25), inset 0px -4px 4px #D6A41E;
  display: flex;
  flex-direction: column;
}

/************************************************/

@media (max-width: 768px) {

  #main-page {
    display: grid;
    grid-template-columns: 28px 19px 23px auto 23px 19px 33px;
    grid-template-rows: 43.4px 10vw 26.12px 62px 17px 79px;
  }

  header {
    display: grid;
    grid-column: 3/6;
    grid-row: 2/3;
    justify-content: center;

    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }

  #play-section {
    display: grid;
    grid-template-areas: "a b";
    grid-column: 2/7;
    grid-row: 4/5;
    height: auto;
    width: auto;
  }

  #current-song-box {width: auto;}

  #playcircle {
    width: 4rem;
    height: 4rem;
    top: 0;
  }

  #current-song-name {
    width: 60%;
    font-size: 1.3rem;
    line-height: 1.2rem;
    margin-left: -1.9rem;
    margin-right: 1.5rem;
  }

  #playlist {
    display: grid;
    grid-column: 2/7;
    grid-row: 6/7;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }

  #song-list li:not(:first-child){
    display: none;
  }

  #footer-img {
    padding-left: 30%;
    padding-right: 30%;
  }
}

@media (max-width: 425px) {
  #main-page {
    grid-template-columns: 14px 9.5px 11.5px auto 11.5px 9.5px 16.5px;
  }

  #current-song-name {
    font-size: 6vw !important;
    line-height: 6vw !important;
    margin-right: 1rem !important;
  }

  #song-list {
    font-size: 7vw !important;
  }
}